<div class='tweet' data-id='{{tweet.id}}'>
    {% if tweet.image %}
    <div class='img'><img src='{{asset('assets/images/') ~ tweet.image}}'/></div>
    {% endif %}
    <div class='content'>{{tweet.content | raw}}</div>
</div>