{% extends 'base.html.twig' %}

{% block title %}Twiter{% endblock %}

{% block body %}
 {% if tweets %}   
    {% for tweet in tweets %}
        {{include('partials/_tweet.html.twig', {'tweet': tweet})}}
    {% endfor %}
    {% else %}
    <p> No se han encontrado Tweets</p>
    {% endif %} 
{% endblock %}
